.deps
*.lo
*.la
.libs
acinclude.m4
aclocal.m4
autom4te.cache
build
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
include
install-sh
libtool
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
mkinstalldirs
modules
run-tests.php
tests/*/*.diff
tests/*/*.out
tests/*/*.php
tests/*/*.exp
tests/*/*.log
tests/*/*.sh
php_rocksdb.o
rocksdb.o
rocksdb_backup_engine.o
rocksdb_backup_engine_info.o
rocksdb_cache.o
rocksdb_compaction_filter.o
rocksdb_comparator.o
rocksdb_exception.o
rocksdb_iterator.o
rocksdb_merge_operator.o
rocksdb_snapshot.o
rocksdb_write_batch.o
